<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:url" content="https://photocard.herokuapp.com/">
    <meta property="og:type" content="website"/>
    <meta name="image" property="og:image" content="https://photocard.herokuapp.com/assets" />
    <meta name="title" property="og:title" content="Photo Card Tampa">
    <meta name="description" property="og:description" content="This app lets a user upload a photo and create a sports, digital trading card from their favorite Tampa team.">
    <meta name="author" content="Julius Bzozowski">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <%= 'Photo Card Tampa' %>
    </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section class="wrapper">
      <%= link_to cards_path, method: :get do %>
      <div class = "landing container-fluid">
      </div>
      <% end %>
    </section>
      <div class="start">
        <%= link_to cards_path, method: :get do %>
        <%= submit_tag "Start Here", class: "begin" %>
        <% end %>
      </div>
      <div class="intro-text">
        <h3>Create a personalized trading card to use as a screen saver, post online or share with friends.<br> It's FUN, EASY and FREE!</h3>
      </div>
  </body>
</html>
