<section class="steps preview">
  <div class="" id="">
    <h1></h1>
  </div>
</section>
<div class="preview-card">
  <div class="finish">
    <div class="col-lg-12">
      <%= image_tag(pngify_card_url(@card, format: "png")) %>
      <%= form_for @user do |f| %>
      
      <div class="form-group email">
          <p>To save your card, create an account. Your card will be sent upon completion.</p>
      </div>

      <div class="form-group email">
        <%= f.text_field :name, class: "form-control", placeholder: "name" %>
      </div>

      <div class="form-group email">
          <%= f.text_field :email, class: "form-control", placeholder: "email" %>
      </div>

      <div class="form-group email">
          <%= f.text_field :password, class: "form-control", placeholder: "password" %>
      </div>

      <div class="form-group email">
          <%= f.text_field :password_confirmation, class: "form-control", placeholder: "password confirmation" %>
      </div>

      <div class="orm-group email">
        <%= f.submit "Create Account", class: "done" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
