<section class="steps">
  <div class="" id="circle">
    <h1>3</h1>
  </div>
  <div class="subhead">
    <h5>Upload your photo and information</h5>
  </div>
</section>
  <div class="front-card card-info">
    <div class="col-lg-12">
      <h3 class="">Front of Card</h3>

        <h4>Choose a Photo for your card</h4>

        <%= form_for @card do |f| %>
          <div class="form-group info">
            <%= f.hidden_field :photo, value: @card.cached_photo_data %>
            <%= f.file_field :photo %>
          </div>
          <h4>Enter your Name</h4>

          <div class="form-group info name">

            <p>
              <%= f.text_field :name, class: "form-control" %>
              <%= f.label :name, "Name (20 character maximum)" %>
            </p>
          </div>
          <div class="card-label">
              <%= f.submit "Submit", class: "done" %>
          </div>

        <% end %>
    </div>
  </div>
