<section class="steps preview">
      <div class="" id="">
        <h1>PREVIEW</h1>
      </div>
</section>
<section class="teams">
  <div class="preview-card">
    <%= image_tag("Rayscard_ball.png", size: "250x350", alt: "Rayscard_Ball") %>
    <div class="finish">
      <div class="">
        <%= link_to get_photo_card_path, method: :get do %>
        <%= submit_tag "Edit", class: "submit" %>
        <% end %>
        <%= link_to deliver_card_path, method: :get do %>
        <%= submit_tag "Done", class: "done" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
