<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>


    <title>Photo Card</title>

    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'cards', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  </head>

  <body>

    <header class="topbar">

      <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="horizontal-logo">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <div class="to-close hamb">
                  <div class="x">
                    <input type="checkbox" id="menu-x" />
                    <label for="menu-x"><span></span></label>
                  </div>
                </div>
            </button>
            <%= link_to root_path, method: :get do %>
            <%= image_tag("mysportscard_horizontal.png", size: "150x50", alt: "My Sports Card", class: "hlogo") %>
            <% end %>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-links">
              <li><%= link_to "Make New Card", cards_path %></li>
                <li><%= link_to "About", pages_about_path %></li>
                <!--<li><%= link_to "Home", root_path %></li>-->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>


  </body>
</html>
